@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --white: #ffffff;
    --maroon: #5d001d;
    --grey: #545454;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    color: var(--white);
}

body{
    background: url('../images/bg.png');
}

.container{
    padding: 120px 100px 0 100px;
}
/* Navbar */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    padding: 1.5rem 100px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
a .logo{
    width: 150px;
    transition: 0.3s ease;
}
a .logo:hover{
    transform: scale(1.2);
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-links li a{
    text-decoration: none;
    color: var(--maroon);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s ease;
}
.nav-links li a:hover{
    background-color: var(--maroon);
    color: var(--white);
}
/* Welcome container */
.welcome-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.welcome-container .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
h1{
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
}
.left p{
    font-size: 20px;
    text-align: justify;
    line-height: 2rem;
}
/* Step join container */
.step-join-container{
    /* padding: 100px 0; */
    height: 100vh;
}
.steps{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 50px 0;
}
.step img{
    width: 250px;
}